body {
  background-color: #f0f8ff;
  font-family: 'roboto', sans-serif;
  color: #333;
  margin: 40px;
}

.title{
color:white;
}
  
h1 {
  color: #8d7034;
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}
p {
  font-family:'Courier New', Courier, monospace;
  font-size: 1em;
  white-space: normal;
}

a {
  text-decoration: none;
  color: #3498db;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 20px; /* space between columns */
  padding: 20px;
}

.column {
  flex: 1; /* equal width */
  background-color: white;
  padding: 20px;
  border: 1px solid white;
}